#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="log.appender" value="STDOUT"/>
    <property name="log.level" value="INFO"/>

    <include resource = "logback-base.xml"/>

    <root level="${symbol_dollar}{log.level}">
        <appender-ref ref="${symbol_dollar}{log.appender}"/>
    </root>


</configuration>
