<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="log.appender" value="STDOUT"/>
    <property name="log.level" value="INFO"/>

    <include resource = "logback-base.xml"/>

    <root level="${log.level}">
        <appender-ref ref="${log.appender}"/>
    </root>


</configuration>
